
.athlete_detalis_rewards{
  display: flex;
}
.uppercase{
  text-transform: uppercase;
}
.lowercase{
  text-transform: lowercase;
}
.athlete_detalis_rewards .medal{
  position: relative;
}
.athlete_detalis_rewards .medal span{
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 58px;
  transform:translateX(-50%);
  color: #132C5F;
  font-weight: bold;
  font-size: 16px;
}
.athlete_detalis_rewards .medal img{
  width: 100%;
}
.athlete_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 70px;
}
.sports_link{
  margin-bottom: 0;
}
.sports_link a{
  color:#5993DC;
  font-size: 18px;
  font-weight: 500;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px;
  border-color: #5993DC;
  border-style: solid;
  padding-bottom: 2px;
}
.sports_link a:hover{
  color:#5993DC;
}
#filter{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.filter_gender {
  border-radius: 40px;
  border:1px solid #5993DC;
}
.filter_gender input, .alphabet_main input{
display: none;
}
.filter_gender label{
  padding:15px 15px;
  margin-bottom: 0;
  color:#5993DC;
  font-weight: 500;
  text-align: center;
  width: 80px;
  font-size: 14px;
  cursor: pointer;
}
.filter_gender label:first-child{
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.filter_gender label:last-child{
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.filter_gender label.active{
  background-color: #5993DC;
  color:#fff;
}
.filter_a_z{
  position: relative;
}
.filter_a_z button{
  cursor: pointer;
  border-radius: 40px;
  border:1px solid #5993DC;
  width: 160px;
  padding:15px;
  background:#5993DC;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  margin-left: 20px;
  text-align: center;
}
.alphabet_main{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #5993DC;
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 20px;
    z-index: 1;
    background: rgba(255,255,255,0.9);
    display: none;
}

.alphabet_main label{
 color: #a7a4a4;
 margin:5px 10px 5px 10px;
 font-size: 16px;
 font-weight: 500;
 cursor: pointer;
}
.alphabet_main label.active{
 color: #5993DC;
}
#game-single .g_desc .g_text p {
    font-family: DIN Pro;
    font-size: 16px;
    line-height: 1.31;
    text-align: justify;
    color: #4f5362;
    margin-bottom: 20px;
}
#header-menu .wrapper .logo{
font-size: 16px;
}
#header-menu .wrapper .logo img {
    height: 40px;
    margin-right: 15px;
}

#section-banner {
    height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: top top;
    background-position-x: top;
    background-position-x: center;
    background-position-y: bottom;
  }

  .history_content h1{
    font-family: DIN Round Pro;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.17;
  color: #052263;
}
 
  .tab_links .tab_link:hover, .tab_links .tab_link.active{
  font-weight: initial;
}
.tab_links .tab_link.active::after{
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100%;
  height:2px;
  left: 0;
  background-color: #052263;
}
.tab_links .tab_link.active{
  position: relative;
}
#tab-olympic .members_h .member-card .name {
  font-size: 19px;
}
.all_programs{
  flex-wrap: wrap;
}
.doc-card p{
  font-size: 14px;
}
.doc-card .icon {
  width: 60px;
  height: 70px;
  margin-bottom: 32px;
}
.doc-card {
  padding: 16px 25px 30px 35px;
}
.doc-card .icon {
  width: 41px;
  height: 55px;
  margin-bottom: 20px;
}
.more{
  font-weight: 700;
  font-size: 14px;
  color:#1B3268;transition: 0.2 linear;
}
.more:hover{
 transition: 0.2 linear;
  color:#3587F9;
}
.partner_link{
  margin-top: 20px;
}
.partner_link a{
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #4f5362;
}
.partner_link a img{
 margin-right: 10px;
}
#header-top .wrapper .social-media .sm_link{
  font-size: 14px;
}
.member-card .name{
  font-size: 19px;
}
.member-card .occupation{
  font-size: 20px;
}
.download{
  font-family: DIN Pro;
}
.news-card .c_title, #news-page .news-wrapper .news-content .news-container .news-card .c_title
{
  font-size: 18px;
}
.news-block .news-title{
  font-size: 20px;
}
#news-page .news-wrapper .news-content .news-intro .news-card .c_title{
  font-size: 30px;
}
#partners .partners_wrapper{
  justify-content: flex-start;
}
#partners .partners_wrapper .partner-card {
  width: calc(25% - 20px);
  margin: 0 10px 20px 10px;
}
.partner-card .photo{
  height: 150px;
}
.partner-card {
  padding: 25px;
}
.partner-card .btn_more{
  padding:12px;
}
.open-content .desc p{
  margin-bottom: 0;
}
.pagination a, .page-link{
  border-radius: 3px;
  color: #4f5362;
  width: 30px;
  height: 30px;
  align-items: center;
  margin: 0 5px;
  font-size: 14px;
  font-family: DIN Round Pro ;
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination a:hover, .page-link:hover{
  color: #4f5362;
}
.pagination a:first-child{
  transform: rotate(0);
}
#partner-single .p_content_wrapper .content_about{
  margin-bottom: 20px;
}
#partner-single .section_title{
  margin-bottom: 45px;
}
#partner-single {
  padding: 50px 0 50px;
}
#widgets{
  padding:90px 0; 
}
.tokyo_alert{
  font-weight: 600;
  color:#E3E0A7 !important;
  position: relative;
}
@keyframes diod {
  25% {opacity: 0;}
  50% {opacity: 1;}
  75% {opacity: 0;}
  100% {opacity: 1;}
}
.tokyo_alert::before{
  width: 6px;
  height: 6px;
  border-radius: 100%;
  content: '';
  position: absolute;
  background-color: #E3E0A7;
  left: -11px;
  top: 50%;
  transform: translateY(-50%);
  animation-name: diod;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.iframe_main iframe{
  width: 100%;
  height: 650px;
  border:none !important;
  margin-bottom: 30px;
}
.date span{
  margin-left: 15px;
}
.news_gallery_main{
  padding:0 50px;
  position: relative;
}
.next, .prev{
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  width: 30px;
  left: 0;
  cursor: pointer;
}
.next{
  left: auto;
  right: 0;
  text-align: right;
}
.next i, .prev i{
  font-size: 18px;
}
.desc iframe, .text_wrapper iframe{
  width: 100%;
}
@media (max-width: 576px){
  #latest-news .wrapper {
      flex-wrap: wrap;
  }
  #latest-news .wrapper .news-card{
    width: 100%;
  }
}
@media (max-width: 768px){
  #header-menu .wrapper .ham-menu {
      margin-right: 0px;
  }
  .athlete_bar{
    flex-wrap: wrap;
  }
  .filter_a_z button {
    width: 100px;
    padding: 10px;
    font-size: 12px;
    margin-left: 20px;
}
  .filter_gender label {
    padding: 11px 0px;
    width: 43px;
    font-size: 10px;
  }
  .sports_link a {
    font-size: 12px;
 }
 footer .footer_content .f_about .f_text {
  font-size: 10px;
  }
  #about #about-docs .tab_links .tab_link {
    margin-bottom: 10px;
  }
  .tab_links .tab_link.active::after {
    height: 1px;
  }
  #news-page .news-wrapper .news-content .news-intro .news-card .c_title {
    font-size: 24px;
    color: #222228;
}
.more{
  font-size: 12px;
}
#partners .partners_wrapper .partner-card {
  width: 100%;
}
#game-single .game-news .table_wrapper table{
  width: 100%;
  min-width: unset;
}
#game-single .game-news .table_wrapper table td.feature{
  font-size: 10px;
}
#game-single .game-news .table_wrapper table td .name{
  font-size: 12px;
}
#game-single .game-news .table_wrapper table td{
  font-size: 12px;
}
#game-single .game-news .table_wrapper table td:first-child {

  padding: 0 0 5px;
}
footer .footer_content .sm_links .link {
  font-size: 20px;
}
footer .footer_content .sm_links .link {
  margin: 0 25px 20px 0;
}
}
@media (max-width: 991.98px){
  #game-single .game-news .table_wrapper {
    
      -webkit-overflow-scrolling: touch;
  }
  #partners .partners_wrapper .partner-card {
    width: calc(50% - 20px);
}
  .tokyo_alert{
  margin-left: 15px !important;
  }
  #news-page .open-content .details .date, .open-content .details .web-contact {
    display: inherit;
 }
 .open-content .details {
  margin: 15px;
}
.open-content .details .date{
  font-size: 10px;
}
.open-content .details .web-contact .social-media .sm-icon{
  font-size: 18px;
}
}


