@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qagqvw');
  src:  url('../fonts/icomoon.eot?qagqvw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qagqvw') format('truetype'),
    url('../fonts/icomoon.woff?qagqvw') format('woff'),
    url('../fonts/icomoon.svg?qagqvw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-icons-black-01:before {
  content: "\e900";
}
.icon-social-icons-black-02:before {
  content: "\e901";
}
.icon-social-icons-black-03:before {
  content: "\e902";
}
.icon-social-icons-black-04:before {
  content: "\e903";
}
.icon-social-icons-black-05:before {
  content: "\e904";
}
.icon-social-icons-black-06:before {
  content: "\e905";
}
